image: node:latest

cache:
   key:
      files:
         - package-lock.json
   paths:
      - node_modules/
      - ".npm/"

stages:
   - setup
   - validate
   - test
   - build
   - release
   - deploy

install:
   stage: setup
   script:
      - npm ci --cache .npm --prefer-offline

lint:
   stage: validate
   script:
      - npm run lint
   rules:
      - if: "$CI_COMMIT_TAG == null && $CI_COMMIT_TITLE !~ /^chore: release/"

e2e-test:
   stage: test
   script:
      - echo "Hello e2e !"
   rules:
      - if: $CI_PIPELINE_SOURCE == "merge_request_event"

unit-test:
   stage: test
   script:
      - npm test
   rules:
      - if: "$CI_COMMIT_TAG == null && $CI_COMMIT_TITLE !~ /^chore: release/"

integration-test:
   stage: test
   needs:
      - unit-test
   script:
      - echo "Hello Integration !"
   rules:
      - if: "$CI_COMMIT_TAG == null && $CI_COMMIT_TITLE !~ /^chore: release/"

canary:
   stage: validate
   script:
      - echo "Hello Only Canary !"
   rules:
      - if: $ENV_TARGET == "canary"

release:
   stage: release
   when: manual
   rules:
      - if: '$CI_COMMIT_BRANCH == "main"
           && $CI_COMMIT_TAG == null
           && $CI_COMMIT_TITLE !~ /^chore: release/'
   before_script:
      - git config user.email $GITLAB_USER_EMAIL
      - git config user.name $GITLAB_USER_NAME
      - git remote set-url origin
        "https://gitlab-ci-token:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
      - git checkout $CI_COMMIT_BRANCH
      - git pull origin $CI_COMMIT_BRANCH --rebase
   script:
      - npx --yes release-it --ci
